<h1>My events</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.username %>
<br>
Hosted Events:<br>
<% @created_events.each do |e| %>
  <%= e.title%><br>
<% end %>
<br>

Attended Events:<br>
<br>
Past Events:<br>
<% @user.attended_events.each do |e| %>
  <% if event_past?(e.date)%>
    <%= e.title%><br>
  <% end %>
<% end %>

<br>

Upcoming Events:<br>
<% @user.attended_events.each do |e| %>
  <% unless event_past?(e.date)%>
    <%= e.title%><br>
  <% end %>
<% end %>