<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


Upcoming Events:<br>
<% @upcoming_events.each do |e| %>
  <%= e.title %><br>
  <%= e.date %><br>
<% end %>

<br>

Past Events:<br>
<% @past_events.each do |e| %>
  <%= e.title %><br>
  <%= e.date %><br>
<% end %>