<header>
    <ul>    
    <li><%= link_to "All Events", events_path %></li>
    <li><%= link_to "Create an Event", new_event_path %></li>
    <li class="float-r"><%= link_to "Login", sign_in_path, class:"active" %></li>

    <% if current_user %> 
    <li><%= link_to "My events", user_path(current_user) %></li> 
    <%end%>
    </ul> <br>

</header>




